.logout {
  &__btn {
    font-size: 2.7rem;
    background: transparent;
    border: solid 0px;
    color: $white;
    cursor: pointer;
    @include respond(phone) {
      padding-top: 1.3rem;
    }
  }
  &__btn:hover {
    color: white;
  }
}
.header {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include respond(phone) {
    width: 98%;
    margin-left: 1%;
  }

  &__txt {
    @include respond(phone) {
      font-size: 3rem;
      padding-top: 1.4rem;
    }
  }

  &__con {
    width: 100%;
    height: 10rem;
    background: $second-blue;
    margin-bottom: 1rem;
    color: $white;
    font-size: 2rem;
  }
}
