.modle {
  width: 100%;
  height: 100vh;
  background: $second-blue;
  position: absolute;
  top: 0rem;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(bigTab) {
    flex-direction: column;
  }
  &__form {
    width: 60%;
    @include respond(bigTab) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__input {
    width: 60%;
    height: 6rem;
    font-size: 2rem;
    @include respond(bigTab) {
      width: 90%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
    }
  }
  &__btn {
    width: 38%;
    height: 6.6rem;
    margin-left: 1%;
    transform: translateY(0.3rem);
    background: $main-blue;
    font-size: 3rem;
    color: $white;
    cursor: pointer;
    border: solid 0px;
    @include respond(bigTab) {
      width: 90.5%;
      margin-left: 0;
      margin-bottom: 1rem;
    }

    &-cancel {
      width: 6.6rem;
      height: 6.6rem;
      margin-left: 1rem;
      font-size: 4rem;
      background: $main-blue;
      cursor: pointer;
      border: solid 0px;
      color: $white;
      @include respond(bigTab) {
        width: 90.5%;
        margin-left: 0;
      }
    }
    &-cancel:hover {
      color: white;
    }
  }
  &__btn:hover {
    color: white;
  }
}
