.view {
  &__notes {
    width: 80vw;
    margin-left: 10vw;
    background: $main-blue;
    font-size: 2.5rem;
    border-bottom: solid 0.1px white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    min-height: 5rem;
    padding: 1rem;
    @include respond(dis) {
      width: 100vw;
      margin-left: 0rem;
    }
  }
  &__btns {
    //background: red;
    min-width: 9vw;
    transform: translateX(5rem); // media
    margin-left: 4rem;
    @include respond(bigDis) {
      min-width: 10vw;
    }
    @include respond(dis) {
      min-width: 14vw;
    }
    @include respond(smallDis) {
      min-width: 15.5vw;
    }
    @include respond(bigTab) {
      min-width: 18vw;
    }
    @include respond(tab) {
      min-width: 21vw;
      margin-right: 1rem;
    }
    @include respond(smalltab) {
      min-width: 22vw;
      margin-right: 6vw;
    }
    @include respond(bigPhone) {
      min-width: 26vw;
      margin-right: 8vw;
    }
    @include respond(phone) {
      min-width: 35vw;
      margin-right: 8.5vw;
    }
    @include respond(smallPhone) {
      min-width: 43vw;
      margin-right: 9vw;
    }
  }
  &__btn {
    background: transparent;
    border: solid 0px;
    font-size: 2rem;
    color: $white;
    cursor: pointer;
  }
  &__btn:hover {
    color: white;
    font-size: 2.4rem;
  }
}
