.view {
  &__notes {
    width: 100%;
    background: $main-blue;
    font-size: 2.5rem;
    border-bottom: solid 0.1px white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $white;
    min-height: 5rem;
    padding: 1rem 0;
  }
  &__note {
    width: 80%;
    @include respond(smalltab) {
      width: 70%;
    }
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    @include respond(smalltab) {
      width: 20%;
      
    }
  }
  &__btn {
    background: transparent;
    border: solid 0px;
    font-size: 2rem;
    color: $white;
    cursor: pointer;
    @include respond(smalltab) {
      font-size: 1.6rem;
      
    }
  }
  &__btn:hover {
    color: white;
    font-size: 2.4rem;
  }
}
